.header-component{
  .nav-content{
      background-color: #a4508b;
      background-image: linear-gradient(326deg, #5f0a87 0%, #a4508b 50%);
      .nav-link:hover{
        transform: scale(1.2);
        color : #000;
      }
      .fa-tasks{
        margin-right: 5px;
      }
      .nav-item{
        margin: 0px 5px;
        .nav-link{
          font-size: 16px;
          padding-bottom: 2px;
        }
      }
    }
    .container-fluid{
      padding: 0px 20px;
    }
    .profile{
      display: flex;
      align-items: center;
    }
    .username{
      margin-right: 20px;
      color: #fff;
      font-size: 20px;
      font-family: 'Merienda One', cursive;
    }
}
